<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Wine Tour Planner</title>
	
	<link rel="stylesheet" href="/css/winery-tour-planner.css">
</head>
<body>
    <div class="title-container">
		 <center>
		 <font class="title-font">Winery Tour Planner</font>
		 </center>
	</div>
	<br/>
	<br/>
	<center>
		<div class="form-login-container">
		
		<form name="form" th:action="@{/change-password}" method="post">
			<div class="login-container" )>
				
				<input type="hidden" th:value="${token}" th:attr="name='token'"/>
				
				<label for="password">Password</label>
				<input type="password" id="password" name="password"/>
				
				<label for="confirm-password">Confirm Password</label>
				<input type="password" id="password" name="passwordConfirmation"/>
			
				<div class="form-actions">
					<button type="submit" class="btn">Change Password</button>
				</div>
			</div>	
			
			<div th:if="${error}" class="alert alert-error">
				<span style="color:red" th:text="${error}"></span>
			</div>
			
			<div th:if="${success}" class="alert alert-error">
				<span style="color:green">Password Changed</span>
			</div>	

			<br/>
		</form>
		
		<a th:href="@{/login}">Return to Login page</a>
		
		</div>
	</center>	
</body>
</html>		