<html>
<head>
<meta charset="UTF-8">
<title>Wine Tour Planner</title>

<link rel="stylesheet" href="/css/winery-tour-planner.css">
</head>
<body>
	<div class="title-container">
		 <center>
		 <font class="title-font">Winery Tour Planner</font>
		 </center>
	</div>
	<br>
	<p>
	<center>
		<div class="form-login-container">
			<form action="/login" method="post">
				<div  class="form-title-container">
					<font class="form-title-font">Forgot Password?</font>
				</div>
				<div class="login-container" )>
					<label for="email"><b>Email</b></label> 
					<input type="text" placeholder="Enter Email" name="email" required> 
					
					<button type="submit">Request a Password Reset</button>
				</div>

				<div align="center">
					<button type="button" class="cancelbtn"
						onclick="window.location.href='/'">Cancel</button>
				</div>

			</form>
		</div>
	</center>
	</p>
</body>
</html>