<html>
<head>
<meta charset="UTF-8">
<title>Wine Tour Planner</title>

<link rel="stylesheet" href="/css/winery-tour-planner.css">
</head>
<body>
	<div class="title-container">
		 <center>
		 <font class="title-font">Winery Tour Planner</font>
		 </center>
	</div>
	<br>
	<p>
	<center>
		<div class="form-login-container">
			<form action="/sign-up" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				
				<div  class="form-title-container">
					<font class="form-title-font">Sign Up Form</font>
				</div>
				<div class="login-container" )>
					<label for="email"><b>Email</b></label> 
					<input type="text" placeholder="Enter Email" name="email" required> 
					
					<label for="name"><b>Name</b></label> 
					<input type="text" placeholder="Enter Your Name" name="name" required> 
					
					<label for="password"><b>Password</b></label> 
					<input type="password" placeholder="Enter Password" name="password" required>
					
					<label for="password"><b>Confirm Password</b></label> 
					<input type="password" placeholder="Confirm Password" name="password_confirmation" required>

					<label for="role"><b>What kind of user are you?</b><br></label>
					
					<!--  
					<select name="roles" id="roles">
  						<option value="tourist">Tourist</option>
  						<option value="vintner">Vintner</option>
					</select>
					-->
					
					<select name="role" id="role">
						<option th:each="userRole : ${userRoles}"
							th:value="${userRole}"
							th:text="${userRole}">
						</option>
					</select>
					
					<button type="submit">Create an Account</button>
				</div>

				<div align="center">
					<button type="button" class="cancelbtn"
						onclick="window.location.href='/'">Cancel</button>
				</div>

			</form>
		</div>
	</center>
	</p>
</body>
</html>