<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Wine Tour Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/winery-tour-planner.css">
</head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <div>
             <table>
    			<thead>
        			<tr>
            			<th>Name</th>
            			<th>Address</th>
            			<th>Phone</th>
            			<th>Region</th>
            			<th>Website</th>
        			</tr>
    			</thead>
    			<tbody>
					<tr th:if="${wineries.empty}">
            			<td colspan="2"> No Wineries Available</td>
        			</tr>
        			<tr th:each="winery : ${wineries}">
            			<td><span th:text="${winery.name}">Name</span></td>
            			<td><span th:text="${winery.address}">Address</span></td>
            			<td><span th:text="${winery.phone}">Phone</span></td>
            			<td><span th:text="${winery.region.name + ', ' + winery.region.country}">Region</span></td>
            		 	<td><a th:href="${winery.website}" th:text="${winery.website}" th:target="_blank">Website</a></td> 
        			</tr>
    			</tbody>
			</table>
        </div>

        <br/>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>